.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.log
.env
.DS_Store
*.swp
local_data/
errors.log
model_building_errors.log
preprocessing_errors.log
experiment_info.json
.dvc
.dvcignore
target/
